# See http://help.github.com/ignore-files/ for more about ignoring files.
.DS_Store

# Files created by the scripts from; https://github.com/BCDevOps/openshift-project-tools
*_DeploymentConfig.json
*_BuildConfig.json
*.local.*
*.overrides.*
*.param
settings*.sh

# Visual Studio Code
.vscode

# Local config
.env
backups
docker/backup.conf